/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Custom for app, not the CSS Reset above. */
html,
body {
  height: 100%;
  overflow: hidden;

  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

#app {
  height: 100%;
  padding: 0;
  max-height: -webkit-fill-available;
  touch-action: pan-x pan-y;
  background-color: var(--bg-color);
}

:root {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --error-color: lightcoral;
  --font-color: white;
  --opposite-font-color: black;
  --bg-color: white;
  --opposite-bg-color: black;
  --font-family: 'Courier New';

  --tile-text-color: black;
  --tile-background-color: none;
  --tile-border: solid 2px var(--secondary-color);
  --tile-border-radius: 0.25rem;
  --tile-font-family: var(--font-family);

  --key-text-color: black;
  --key-background-color: lightgray;
  --key-border: 0;
  --key-border-radius: 0.25rem;
  --key-font-family: var(--font-family);

  --correct-character-color: lightgreen;
  --correct-character-text-color: white;
  --improper-character-color: #ffbf00;
  --improper-character-text-color: white;
  --incorrect-character-color: gray;
  --incorrect-character-text-color: white;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --error-color: lightcoral;
    --font-color: black;
    --opposite-font-color: white;
    --bg-color: black;
    --opposite-bg-color: white;

    --tile-text-color: white;
    --tile-background-color: none;
    --tile-border: solid 2px var(--secondary-color);
    --tile-border-radius: 0.25rem;
    --tile-font-family: var(--font-family);
  }
}

/* [data-theme='default'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

[data-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: white;
  --bg-color: #161625;
  --heading-color: #818cab;
/* } */

button {
  border: 1px solid var(--secondary-color);
  color: var(--font-color);
  background-color: var(--primary-color);
}

button:disabled {
  border: 1px solid gray;
  color: gray;
  background-color: transparent;
}

.default_button {
  width: 8rem;
  height: 3rem;
  border-radius: 0.25rem;
}

.correct_guess {
  --tile-background-color: var(--correct-character-color);
  --tile-text-color: var(--correct-character-text-color);
  --key-background-color: var(--correct-character-color);
  --key-text-color: var(--correct-character-text-color);
}

.improper_guess {
  --tile-background-color: var(--improper-character-color);
  --tile-text-color: var(--improper-character-text-color);
  --key-background-color: var(--improper-character-color);
  --key-text-color: var(--improper-character-text-color);
}

.incorrect_guess {
  --tile-background-color: var(--incorrect-character-color);
  --tile-text-color: var(--incorrect-character-text-color);
  --key-background-color: var(--incorrect-character-color);
  --key-text-color: var(--incorrect-character-text-color);
}
